<!DOCTYPE html>
<html lang="{{site.LanguageCode}}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ block "title" . }}{{ .Title }} - {{ site.Title }}{{end}}</title>
  <link rel="canonical" href="{{.Permalink}}">
  {{ block "description" . }}
  {{ with .Params.description }}<meta name="description" content="{{.}}">{{ end }}
  {{ end }}
  {{ partialCached "head.html" . }}
  {{ block "ld-json" . }} {{ end }}
  {{ block "geo-tag" . }} {{ end }}
  {{ partial "analytics.html" . }}
  {{ partial "opengraph.html" . }}
  {{ partialCached "favicon.html" .}}
</head>

<body>

  {{ partialCached "header.html" . }}

  {{ partialCached "navPrimary.html" . }}

  <main>
    <article>
      <h1>{{ .Title }}</h1>
      {{ block "main" . }} {{ end }}
    </article>
  </main>

  {{ partialCached "navSecondary.html" . }}
  
  <div id="disqus_thread"></div>
  <script>

    var disqus_config = function () {
      this.page.url = {{.Permalink}}
      this.page.identifier = {{.Permalink}}
      };

    (function () {
      var d = document, s = d.createElement("script");
      s.src = "https://eglises-ouvertes.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
      Disqus.</a></noscript>
  
  {{ partialCached "footer.html" . }}

</body>

{{ block "javascript" . }} {{ end }}

</html>