/* Quelques idées ici: https://couleur-science.eu/themes/2021/style-print.css */

html, body {
    background: none;
}

* {
    color: black !important;
}

header, footer, nav, .evaluation {
    display: none;
}

img, pre, blockquote, figure, video {
	break-inside: avoid;
}

h2 {
    break-before: avoid;
	break-after: avoid;
}