:root {
    --background: hsl(50, 20%, 95%);
    --color: hsl(230, 60%, 30%);
    --light: hsl(50, 30%, 90%);
    --contrast: hsl(310, 80%, 40%);
    
    --font-main: Roboto, system-ui, sans-serif;
    --font-titling: Fraunces, system-ui, sans-serif;
    --font-mono: ui-monospace, "Roboto Mono", Menlo, Consolas, monospace;
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background: hsl(200, 70%, 15%);
        --color: hsl(320, 22%, 90%);
        --light: hsl(200, 70%, 20%);
        --contrast: hsl(80, 80%, 50%);
    }
}

html {
    background: var(--background);
    color: var(--color);
    font-family: var(--font-main);
    font-size: 100%;
    line-height: 1.5;
    overflow-y: scroll;
    text-wrap: pretty
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 115%;
    }
}

body {
    padding: 1rem;
    max-width: 66ch;
    margin: auto;
}

main {
    min-height: 15rem;
}

header, main, footer, nav {
    padding: 1rem;
}

header, h1, h2 {
    font-family: var(--font-titling);
    font-size: 1.41rem;
    line-height: 1.2;
    text-wrap: balance;
}

h1 { 
    font-size: 2rem;
    margin-top: 0; 
}

h2 {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

header a, nav.main a {
    text-decoration: none;;
}

nav.main, footer, button {
    font-size: .9rem;
}

nav#TableOfContents {
    background: var(--light);
}

nav.main ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

nav.main ul li {
    background-color: var(--light);
    border-radius: 5px;
    margin: 0;
    padding: .2rem .3rem;
    text-align: center;
    flex-grow: 3;
}

ul li {
    margin-top: .3rem;
}

blockquote {
    margin-left: 0;
    padding-left: 1rem;
    border-left: 1px solid var(--contrast);
}


dt {
    font-weight: 700;
}

address {
    font-style: normal;
}

pre, code {
    background: var(--light);
    font-family: var(--font-mono);
    font-size: 90%;
}

pre {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
    overflow-y: auto;
}

a {
    color: var(--color);
    text-decoration-color: var(--contrast);
}

.on {
    color: var(--contrast);
}

input {
    font-family: var(--font-mono);
    font-size: 100%;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
}

ul.search-results {
    min-height: 10rem;
}

button {
    background: var(--light);
    border: 1px solid var(--color);
    border-radius: .2rem;
    color: inherit;
    padding: .2rem .4rem;
}

/* Titraille */

@font-face {
    font-display: swap; 
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/fraunces-v31-latin-700.woff2") format("woff2");
  }

/* Fermeture */

aside.fermeture {
    background: white;
    border: .5rem solid red;
    color: black;
    font-weight: bold;
    margin-block: 1rem;
    padding-inline: 1rem;
}

.fermeture a {
    color: inherit;
    text-decoration-color: inherit;
    text-decoration-thickness: .2ch;
}